/* Start Components */
.header, .nav, .main, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__content, .nav__content, .footer__content{
    display: flex;
    align-items: center;
    width: 100%;
}
.section{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    min-height: 300px;
}
.content__section{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 90%;
    justify-content: center;
}
.btn{
    font-family: var(--family__primary);
    max-width: fit-content;
    letter-spacing: .05rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    font-size: var(--text__small);
}
.btn::first-letter{
    text-transform: uppercase;
}
.btn:hover{    
    transition: transform 0.3s ease-in-out;
}
.btn-pill-solid{
    border-radius: 50%;
    background-color: var(--color__primary);
    color: var(--color__black--100);
    border: 1px solid var(--color__black--100);
}
.btn-solid-primary{
    background-color:  rgb(var(--color__primary));
    color:rgb(255, 255, 255);    
    border-radius: 0.25rem;
}
.btn-solid-white{
    border: 2px solid transparent;
    background-color: rgb(255, 255, 255);
    color: var(--color__primary--600);    
    font-weight: bold;
    border-radius: 0.25rem;
}
.btn__ghost--border-solid{
    border: 2px solid var(--color__primary--500);
    color: var(--color__primary--500);
    border-radius: 0.25rem;
}
.btn__ghost--border-solid:hover{
    background-color: var(--color__primary--500);
    color: #ffffff;
}

.btn:active{
    border-color:  var(--color__black--500) !important;
}
.btn-solid-white:hover{
    color: var(--color__primary--700);
}
.card__body .btn-solid-white{
    border: 1.5px solid var(--color__primary--600);
}
.card__body .btn-solid-white:hover{
    background-color:  var(--color__primary--600);
    border: 1.5px solid var(--color__primary--600);
    color:rgb(255, 255, 255); 
    transition: all 0.3s ease-in-out;
    transition-property: background-color, border-color, color;
}
.btn-solid-primary:hover:not(.card__body .btn-solid-primary){
    transform: scale(1.05);
}

.btn-outline{
    color: rgb(var(--color__primary));
    border: 1px solid rgb(var(--color__primary));
    border-radius: 20px;
}
.btn-ghost{
    background-color: transparent;
    border: 1px solid rgb(var(--color__primary));
    border-radius: 20px;
}
.border-solid{

}
.p{
    font-family: var(--family__secondary);
    font-weight: 500;
    font-size: var(--text__normal);
    color: var(--color__black--400);
    line-height: calc(var(--text__normal) * 1.4);
}
.p__form{
    color: rgb(250,250,250 );
    font-size: var(--text__smaller);
    font-family: var(--family__primary);
    font-size: var(--text__small);
    font-weight: 500;
    min-height: 1rem;
}
.span{
    font-family: var(--family__secondary);
    font-weight: 500;
    font-size: var(--text__normal);
    color: var(--color__black--400);
    line-height: calc(var(--text__normal) * 1.4);
}
.h2{
    width: fit-content;
    align-self: center;
    font-size: var(--tittle__h2);
    font-weight: 800;
    color: var(--color__black--300);
    line-height: calc(var(--tittle__h2) * 1.2);
}    
.h3{
    width: fit-content;
    font-family: var(--family__primary);
}
.h2.border-solid::after{
    content: '';
    display: flex;
    margin: 3px auto;
    width: 40%;
    height: 3px;
    margin-top: 20px;
    background-color:rgb(var(--color__primary));
    border-radius: 5px;
}
.h3.border-solid::after{
    content: '';
    display: flex;
    height: 3px;
    margin-right: -8px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: rgb(var(--color__primary));
}
.h2.border__top--solid::before{
    content: '';
    display: flex;
    height: 3px;
    margin-bottom: 8px;

    width: 4.5rem;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, .5));
}
.form__articles{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 24px;
}
.section__form{
    display: flex;
    flex-direction: column;
    max-width: 302px;
    row-gap: 5px;
    font-family: var(--family__secondary);
}
.section__form--contact{
    max-width: none;
}
.label__form{
    color: rgb(255, 255, 255);
    font-size: var(--text__small);
    font-family: var(--family__primary);
    min-height: 1rem;
}
.input__text{
    border: none;
    /* background-color: rgb(250, 250, 250); */
    min-width: 190px;
    border-radius: 0.25rem;
    padding:0.75rem 1.25rem;
    font-family: var(--family__secondary);
    color: var(--color__black--200);
    font-size: var(--text__normal);
    font-weight: 500;
    border: 1px solid transparent;
}
.input__text--border{
    border: 1px solid var(--color__black--50);
}


.input__text:focus{
    outline: 1px solid var(--color__primary--600);
}
.input__text.invalid{
    color:rgb( var(--color__error));
    border: 1px solid rgb(var(--color__error));
    background-color:  rgba(var(--color__error), .4);
    outline: 1px solid transparent;
}
.input__text.valid{
    color:rgb( var(--color__success));
    border: 1px solid rgb(var(--color__success));
    background-color:  rgba(var(--color__success), .4);
    outline: 1px solid transparent;
}
.input__text.invalid::placeholder{
    color: rgb(var(--color__error));
}
.input__text.valid::placeholder{
    color: rgb(var(--color__success));
}
.input__text.warning{
    outline: 1px solid #C94039;
}

#captcha.invalid {    
    width: 302px !important;
    height: 76px !important;
    border-radius: .25rem;
    outline:1px solid rgb(var(--color__error));
}
.bg__primary--600{
    background-color: var(--color__primary--600);
}
.bg__primary--600:hover:not(.content__card){
    background-color: var(--color__primary--700);
}   
/* Start Card simple */
    .card{
        min-width: 100%;        
        scroll-snap-align: center;
        
    }
    .card:hover{
        box-shadow: 0px 20px 15px 0px rgb(0 0 0 / 7%);
    }
    .img-card{
        width:20%;
    }
    .img-rounded{
        border-radius: 50%;
        width: 112px;
        height: 112px;
    }
    .content__cards-simple .card{
        border-radius: 30px;
    }
    .content__cards-simple .card .content__card{
        margin: 0;
        padding-bottom: 57px;
        padding-top: 58px;
        background: linear-gradient(to top, rgb(255,255,255), rgb(250,250,250 ) 100%);
    }
    .content__cards-simple .card:hover {
        transform: scale(1.01);
        transition: all .3s ease-in-out;
        transition-property: transform;
    }
    .content__cards-simple .card:hover .content__card{
        box-shadow: 0px 20px 15px 0px rgb(0 0 0 / 7%);       
        transition: all .3s ease-in-out;
        transition-property: box-shadow;
    }
    .content__card{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin: 20px;
        padding: 24px 36px;
        border-radius: 10px;        
        box-shadow: 0px 15px 15px 0px rgb(0 0 0 / 4%);
    }
    .card__body{
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
    .card__body .p__card{
        font-weight: 500;
    }
    .card__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
    .card__header .img-card{
        fill: var(--color__black--200);
    }
    
    .h3__card{
        color: var(--color__black--400);
    }
    .card.solid .card__header .h3{
        color: rgb(255,255,255);
        font-weight: 700;
        font-size: var(--text__medium);
    }
    .card.solid .content__card .card__body .p{
        color: rgb(255,255,255);
        font-size: var(--text__smaller);
        line-height: calc(var(--text__normal) * 1.4);
        letter-spacing: .07rem;
    }
    .card-articles{
        min-width: 80%;
    }
      
/* End Card simple */

/* Start Section Grid cards */
.block__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 51px;
    row-gap: 86px;
}
.block__grid .card{
   background-color: transparent;
   
   border-radius: 20px;
}
.block__grid .card .content__card{
    margin: 0;
    padding:57px 41px;
    /* min-height: 375px; */
    overflow: hidden;
}
/* End Section Grid cards */

    /* Content card outwork */
    .content__cards--outwork{
        display: flex;
        flex-direction: column;    
        row-gap: 4rem;    
        counter-reset: card-outwork;
    }
    .card-outwork{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        padding: 24px 30px;
        border-radius: 10px;
        background: linear-gradient(to top, rgb(255,255,255), rgb(250,250,250 ) 100%);
        /* box-shadow: 0px 50px 50px 30px rgba(0, 0, 0, .04); */
        box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, .04);
    }
    .card-outwork::before{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 50px;
        height: 50px;
        font-weight: 800;
        color: rgba(var(--color__primary), 0.2);
        border-radius: 100%;
        font-size: 4.5em;
        font-family: var(--family__primary);
        counter-increment: card-outwork;
        content: "0"counters(card-outwork,"");
       /*  margin-top: -.8em; */
        transform: translate(-50%, -100%);
    }
    .card-outwork:nth-child(even)::before { 
        transform: translate(50%, -100%);
    }
    .card-outwork:nth-child(even){
        direction: rtl;
    }
    .card-outwork:nth-child(even) .card__body--outwork{
        direction: ltr;
    }
    .object-reverse{
        transform: scaleX(-1);
    }
    /* End Content card outwork */

    /* Start Content Services */
        .section__services{
            row-gap: 4rem;  
        }
        .block__content--services{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .content__cards--services{
            display:flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            column-gap: 4rem;
            justify-content: space-between;
        }
        .column__cards--services{
            display: flex;
            flex-direction: column;            
            row-gap: 4rem;           
            width: 100%;
        }
        .card-service{
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            min-height: 360px;
            max-height: 600px;
            padding: 24px 30px;
            border-radius: 10px;
            background: linear-gradient(to top, rgb(255,255,255), rgb(250,250,250 ) 100%);
            box-shadow: 0px 20px 15px 0px rgb(0 0 0 / 4%);
        }
        .card-service:hover{
            box-shadow: 0px 20px 15px 0px rgb(0 0 0 / 7%);
        }
        .card__body--service{
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }
        .h3-service{
            color: var(--color__black--300);
            font-size: var(--tittle__h3);
            font-weight: 800;
        }
        .p-service{
            color: var(--color__black--200);
            text-align: justify;
            font-size: var(--text__normal);
            line-height: calc(var(--text__normal) * 1.4);
            
        }
       
        .card__header--service{
            display: flex;
            justify-content: center;
        }
        .svg__service--change{
           fill: var(--color__black--400);
        }
        .svg__service--change:hover{
            fill: var(--color__black--500);
        }
        
        /* End Content Services */

    /* Content cards testimonial */
    .block__content.testimonial{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content__cards--testimonial{
        display: flex;
        flex-direction: row;    
        width: 100%;
        row-gap: 4rem;                            
        /*  padding: 30px 15px;    */     
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    .content__cards--testimonial > * {
       /* z-index: -1; */
        /* z-index to firefox */
    }

    .card-testimonial{        
        min-width: 100%;        
        scroll-snap-align: center;
    }
    .content__card--testimonial{
        display: flex;      
        flex-direction: column;
        /* row-gap: 36px;    */
        margin: 20px;     
        padding: 24px 36px; 
        border-radius: 10px;
        background: linear-gradient(to top, rgb(255,255,255), rgb(253,253,253 ) 100%);
        box-shadow: 0px 15px 15px 0px rgb(0 0 0 / 4%);
    }
    .card__header--testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .card__body--testimonial{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 8px;
    }
    
    .card__body--testimonial .h3{
        color: rgb(var(--color__primary));
        font-size: var(--text__smaller);
        font-weight: 700;
    }
    .card__body--testimonial .p{
        color: var(--color__black--200);
        font-size: var(--text__medium);
        font-weight: 800;
    }
    .img-testimonial{
        object-fit: cover;
       /*  border-radius: 100%; */
        width: 150px;
        height: 180px;
        border-radius: 10px;
    }
    .card__header--testimonial::after{
        content: '';
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url("https://res.cloudinary.com/sunqupacha/image/upload/v1647290127/sunqupacha/illustration/quote-left_lab2kj.svg");
        background-repeat: no-repeat;
        background-size: contain;
        flex-direction: column-reverse;
        bottom: 0;
        left: 0;
        transform: translate(-60%, -50%);
    }
    .cards__arrow--testimonial{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 16px;
    }
    .arrow{
        
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    .arrow__left--testimonial{
        background-image: url("https://res.cloudinary.com/sunqupacha/image/upload/v1647290130/sunqupacha/illustration/arrow__left_fv3aia.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .arrow__left--testimonial:hover{
        background-image: url("https://res.cloudinary.com/sunqupacha/image/upload/v1647290130/sunqupacha/illustration/arrow__left--active_ocof2p.svg");
        transform: scale(1.2);
        transition: all .5s ;
        transition-property: transform, background-image;
    }
    .arrow__right--testimonial{
        background-image: url("https://res.cloudinary.com/sunqupacha/image/upload/v1647290125/sunqupacha/illustration/arrow__right_slkfxa.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .arrow__right--testimonial:hover{
        background-image: url("https://res.cloudinary.com/sunqupacha/image/upload/v1647290125/sunqupacha/illustration/arrow__right--active_mq3xxi.svg");
        transform: scale(1.2);
        transition: all .5s ;
        transition-property: transform, background-image;
    }


    /* End Content cards testimonial */

    /* Start Content cards blog-articles */
    .content__cards--blog-article{
        display: flex;
        flex-direction: row;
        width: 100%;
        row-gap: 4rem;                            
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    .block__content.articles{
        align-self: center;
        width: 100%;
        
    }
    .content__cards--blog-article > *{
        z-index: 1;
    }
    /* End Content cards blog-articles */

    /* Start section solid */
    .section__solid{
        background-color: var(--color__primary--500);
    }
    .section__solid .content__section {
        align-items: center;
    }
    .section__solid .content__section .h2{
        place-self: center;
        text-align: center;
    }
    .section__solid .content__section .p{
        color: #ffffff;
        text-align: justify;
        font-size: var(--text__normal);
        line-height: calc(var(--text__normal) * 1.4);
        font-weight: 800;
    }
    
/* Ends components */

/* Start Header */
.header{
    z-index: 40;

    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);    
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, .02);
}
.header__content{
    justify-content: space-between;
    width:90%;
    padding: 12px 0;
}
.logo{
    object-fit: cover;
    height:35px;
}
.link__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    column-gap: 3px;
    font-family: 'open sans', sans-serif;
    font-weight: 800;
    color: var(--color__black--400);
}
.header-btn{
    display: flex;
    cursor: pointer;
}
.icon-amburguer{
    width:30px;
    height:30px;    
    fill: var(--color__black--300);
}
/* End Header */

/* Start Footer */
.footer{
    min-height: 300px;
    background-color: rgb(240, 240, 240);
    width: 100%;
}
.content__footer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    width: 90%;
    padding: 2rem 0;
}

.block__footer{
    display: flex;
    flex-direction: column;
    
    row-gap: 5px;
    min-height: fit-content;
}
.h2-footer{
    align-self: flex-start;
    font-size: var(--text__normal);
    color: var(--color__black--400);
}
.ul-footer{
    position: relative;
    padding-left: 0.5em;  
    font-family: var(--family__primary);  
    font-size: var(--text__normal);
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding:10px;
}
.ul-footer .li-footer{
    color: var(--color__black--200);
    font-weight: 700;
}
.ul-footer .li-footer .nav__link{
    font-weight: 700;
}
.ul-footer .nav__item .nav__link:hover{
    color:var(--color__black--300);
}
.ul-footer:before{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: rgb(var(--color__primary));
    left: 0;
    top: 0;
}
.sociales__item .svg-icon{
    fill: var(--color__black--400);
}
.sociales__item--contact .svg-icon{
    fill: var(--color__primary--500);
}
/* End Footer */
.none{
    display: none;
}