@font-face {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://res.cloudinary.com/sunqupacha/raw/upload/v1647017558/sunqupacha/fonts/EuroStyle_Normal_p6mam6.ttf") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("https://res.cloudinary.com/sunqupacha/raw/upload/v1647017558/sunqupacha/fonts/EurostileOblique_kbb9qk.ttf") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'EuroStyle';
    font-style: bold;
    font-weight: 800;
    font-display: swap;
    src: url("https://res.cloudinary.com/sunqupacha/raw/upload/v1647017558/sunqupacha/fonts/EurostileBold_x7ztsv.ttf") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'EuroStyle';
    font-style: bolder;
    font-weight: 900;
    font-display: swap;
    src: url("https://res.cloudinary.com/sunqupacha/raw/upload/v1647017558/sunqupacha/fonts/EurostileExtended_rlyad1.ttf") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
        --family__primary:'Roboto Condensed', sans-serif;;
        --family__secondary: 'EuroStyle', sans-serif;
        /* Colors principal */
        --color__primary:31, 171, 226;

        --color__error: 201, 64, 57;  
        --color__success: 51, 168, 109; 
        /* Color primary compass */
        --color__primary--50:#CEFDD6;
        --color__primary--100:#A9FAC8;
        --color__primary--200:#84F6CA;
        --color__primary--300:#61F1D9;
        --color__primary--400:#40E0EA;
        --color__primary--500:#1FABE2;
        --color__primary--600:#197CCE;
        --color__primary--700:#1453B9;
        --color__primary--800:#102FA4;
        --color__primary--900:#0C118E;
        --color__primary--1000:#170978;
        /* Scales blacks */
        --color__black--50:#CFCFCF;
        --color__black--100:#A8A8A8;
        --color__black--200:#818181;
        --color__black--300:#5A5A5A;
        --color__black--400:#343434;
        --color__black--500:#0D0D0D;
        --color__black--600:#0C0C0C;
        --color__black--700:#0A0A0A;
        --color__black--800:#090909;
        --color__black--900:#080808;
        --color__black--1000:#070707;



        /* Size text */
        --tittle__h1: calc(1rem * 2.25);
        --tittle__h2: calc(1rem * 1.75);
        --tittle__h3: calc(1rem * 1.25);
        --tittle__h4: calc(1rem * 1);
        --text__large: calc(1rem * 1.75);
        --text__medium: calc(1rem * 1.25);
        --text__normal: 16px;
        --text__small: 14px;
        --text__smaller: 12px;
        /* End size text */
        /* Animation Time */
        --animation__time: 0.9s;
}
body{
    width: calc(100vw - (100vw - 100%));    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);    

}
::placeholder {
    color: var(--color__black--100);
    font-size: var(--text__normal);
    font-weight: 600;
}
a{
    text-decoration: none;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
li{
    list-style: none;
}
p{
    margin-top: 0;
    margin-bottom: 0;  
}
input{
    border: none;
    margin: 0;
    color: #ffffff;
    font-family: sans-serif;
    font-size: var(--text__normal);
    cursor: pointer;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input:disabled {
    opacity: .5;
    cursor: not-allowed;
}
button:hover,
button:focus {
    background: #0053ba;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}
p::first-letter{
    text-transform: capitalize;
}
h1, h2, h3{
    font-family: var(--family__primary);
    word-wrap: break-word;
    margin: 0;
}
h1::first-letter, h2::first-letter, h3::first-letter{
    text-transform: uppercase;
}
img{
    box-sizing: border-box; 
}
input:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #ACDBC4 inset ;
    color: rgb(var(--color__success));
    
}
input:-webkit-autofill{
    -webkit-text-fill-color: rgb(var(--color__success)) !important;
    font-family: var(--family__primary);
}